html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, input, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-decoration:none;
  color:inherit;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

body { height: 100%; }
      
h3 { 
  font-family: "proxima-nova"; 
  font-weight: 400;
  letter-spacing: 1px;
  color: white; 
}        
      
h4 { 
  font-family: "clarendon-urw-extra-narrow"; 
  font-weight: 900;
  letter-spacing: 1px;
  color: white; 
}

h5 {
  font-family: "proxima-nova";
  font-weight: 500; 
  letter-spacing: 1px;
  font-size: 0.9em;
}

h6 {
  font-family: "proxima-nova";
  font-weight: 400; 
  letter-spacing: 1px;
  display: inline;
  font-size: 0.8em;
}             

#map { 
  position: absolute;
  left: 240px; 
  top: 300px;         
  width: calc(100% - 240px);
  height: calc(100% - 300px);
}

#details-panel {
  position: absolute;
  left: 240px;        
  height: 300px;
  width: calc(100% - 240px);
  background-color: rgba(0,0,0,1);
  z-index: 100;
  color: white;
}
#details-panel .content {
  margin: 25px 30px;
}
#details-panel div {
  margin-bottom: 5px;
}

.panel { 
  box-shadow: 0 0 5px rgba(255,255,255,0.5);
  border: none;
  background-color: black;
}
.panel-default { 
  width: 240px;
  height: 100%;
  overflow: scroll;
  z-index: 100;
  float: left;
  color: #ccc;
  margin-bottom: 0;
}
.panel-default > .panel-heading { 
  background-color: #2a2a2a;
  border-color: #666;
}
.panel-heading {
  padding: 12px 15px;
}
.panel-body { 
  padding-left: 0; 
  padding-right: 0; 
}

.list-group { 
  margin-bottom: -1px; 
}
.list-group-item { 
  background-color: #444; 
  border-color: #666;
}
.list-group-item.header {
  padding: 9px 15px;
}
.list-group-item.layer {
  background-color: #333;
  border-color: #444;
  padding: 10px 15px;
  line-height: 0px;
}
.list-group-item.layer .fa {
  font-size: .5em;
  margin-right: 5px;
}
.list-group-item.layer:hover { 
  background-color: #666; 
  cursor: pointer; 
}

.list-group-item.active { 
  color: white;
}
.list-group-item.active:hover { 
  border-color: #666;
}

.mapbox-logo{
  display: none !important;
}
.cartodb-logo{
  display: none !important;
}
